# Virtual environments
cs50env/
venv/
.venv/

.vscode/
env/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# config for my final project
**/config.json

LFA_laborator/*.txt
LFA_laborator/*.json

